<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="inscr.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ma page d'inscription</title>
</head>
<body>
    <form action="#">
        <div class="class">
            <p>Inscription</p>
        </div>
    <div class="element">
        <div class="section_nom">
            <p class="don"><label>Nom </label></p>
            <p><input type="text"></p>
        </div>
        <div class="section_prenom">
            <p class="text"><label >Prenom </label></p>
            <p><input type="text"></p>
        </div>
        <div class="section_pass">
            <p class="text"><label>Password</label></p>
            <p><input type="password"></p>
        </div>
        <div class="section_mail">
            <p class="don"><label>Email</label></p>
            <p><input type="text"></p>
        </div>
        <p><input type="submit" value="connexion"></p>
    </div>
    
    </form>
</body>
</html>