body, *{
    margin: 0;
    padding: 0;
}
video{
    position: relative;
  width: 100%;
  height:100vh;
  object-fit: cover;
  z-index: 0;
}
div{
    position: absolute;
    display: flex;
    z-index: 1; 
    top: 50px;
}
header{
    width: 100%;
}
ul li, a{
    color:white;
    text-decoration: none;
    list-style: none;
    display: inline;
     z-index: 1;
     margin-left: 40px;
    
   }
   p {
    position: absolute;
    z-index: 1;
    left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
 }
 .para{
    position: relative;
    background-color:grey;
    
 }
 /* responsibilite de ma page */
 @media screen and (max-width: 900px) {
    body, *{
        margin: 0;
        padding: 0;
    }
    img{
        position: relative;
  width: 100%;
  height:100vh;
  object-fit: cover;
  z-index: 0;
    }
    div{
        position: absolute;
        display: flex;
        z-index: 1; 
        top: 50px;
    }
    ul li, a{
        color:white;
        text-decoration: none;
        list-style: none;
        display: inline;
         z-index: 1;
         margin-left: 40px;
        
       }
       p {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
     }
     .para{
        position: relative;
        background-color:grey;
        
     }
 }
