body {
    margin: 0px;
    padding: 0px;
    /* background-size: 100%;
    background-image: url(../images/shutterstock_197929265-1-684x513.jpeg); */
}
/* video{
    position: fixed;
    width: 100%;
    height: 100%;

} */

/* entete de ma page */
.entete {
    display: flex;
}

nav,
.menu,
li,
#liens {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    font-size: x-large;
    color: blue;
}

.bienvenu,
h1 {
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}

/* section de ma page */
section {
    text-align: center;
}

#propos-titre {
    font-size: x-large;
    font-style: oblique;
}

section,
p {
    margin-left: 100px;
    margin-right: 100px;
    font-size: x-large;
    color: black;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 2rem;
}

/* niveau du footer */
.div2-footer {
    text-align: right;
}

.div2-footer h3 {
    font-size: xx-large;
    margin-right: 300px;

}

ul {
    display: flex;
}

h3 #para {
    margin-left: 50px;
}

/* la responsivité du site */
@media screen and (max-width:1100px){
    body {
        margin: 0px;
        padding: 0px;
        /* background-size: 100%;
        background-image: url(../images/shutterstock_197929265-1-684x513.jpeg); */
    }
    /* video{
        position: fixed;
        width: 100%;
        height: 100%;
    
    } */
    
    /* entete de ma page */
    .entete {
        display: flex;
    }
    
    nav,
    .menu,
    li,
    #liens {
        text-decoration: none;
        list-style: none;
        display: flex;
        margin-left: 20px;
        margin-top: 18px;
        font-size: 15px;
        color: blue;
    }
    
    .bienvenu,
    h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
    }
    
    /* section de ma page */
    section {
        text-align: center;
    }
    
    #propos-titre {
        font-size: large;
        font-style: oblique;
    }
    
    section,
    p {
        margin-left: 10%;
        margin-right: 10%;
        font-size: large;
        color: black;
    }
    
    button {
        width: 100px;
        height: 30px;
        border-radius: 2rem;
        font-size: 10px;
    }
    
    /* niveau du footer */
    .div2-footer {
        text-align: right;
    }
    
    .div2-footer h3 {
        font-size: large;
        margin-right: 100px;
    
    }
    
    ul {
        display: flex;
    }
    
    h3 {
        margin-left: 20px;
        font-size: 12px;
    }
   img{
       width: 25px;
       height: 25px;
   }
   .logo-entete{
       width: 80px;
       height: 90px;
   }
   /* le paragraphe du footer */
   #para{
       margin-left: 20px;
       font-size: 10px;
   }
   /* les li de la page */
   li{
       font-size: 10px;
   }
}