body,*{
    padding: 0;
    margin: 0;
}
#image_fond{
    position: absolute;
    width: 100%;
    object-fit: cover;
    bottom: 20px;
}

.picture
{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 0;
}
/* le debut de la page */
.header{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}
#logo{
    width: 90px;
}
#button1{
    width: 200px;
    border-radius: 1.8rem;
    background-color: blue;
}