<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
</head>
<body>

    <h2>MES IMAGES</h2>

    <div class="elements" >
       <div class="images">
           <div class="content">
            <img src="images/image3.jpg">
           </div>
           <div class="content">
                <img src="images/image2.jpg">
            </div>
           <div class="content">
            <img src="images/image4.jpg">
           </div>
           <div class="content">
            <img src="images/image5.jpg">
           </div>
           <div class="content">
            <img src="images/image6.jpg">
           </div>
           <div class="content">
            <img src="images/image6.jpg">
           </div>
           <div class="content">
            <img src="images/image7.jpg">
           </div>
           <div class="content">
            <img src="images/image1.jpg">
           </div>
          
        </div> 
    <button id="precedent">
            <img src="icons8-chevron-left-50.png"  >
    </button>
    <button id="suivant" >
        <img src="icons8-double-right-50.png" >
    </button>

    </div>
    
    <!-- <script src="scrript.js"></script> -->
    <script src="script.js"></script>
   
</body>
</html>